@using System.Web.Optimization
@using Domain.Models
@model Site.ViewModel.PageViewModel
@{
    ViewBag.Title = "Index";
}

@section CssStyles
{
    @Styles.Render("~/Content/Custom/Products.css")
}

@section Scripts
{
    $
}

<h2>Index</h2>

<table class="products-list">
    <thead>
        <td>Name</td>
        <td>Price</td>
        <td>Category</td>
        <td>
            Actions
            @Html.ActionLink("Add","Add","Products", new{@class="btn btn-mini btn-info add-product"} )
        </td>
    </thead>
    @foreach (Product product in Model.product)
    {
        <tr>
            <td>
                @product.Name
            </td>
            <td>
                @product.Price
            </td>
            <td>
                @product.Category.Name
            </td>
            <td>
                @Html.ActionLink("Edit","Edit","Products",new{id=product.Id},new{@class="btn btn-mini btn-primary"})
                @Html.ActionLink("Details", "Details", "Products",new{id=product.Id}, new { @class = "btn btn-mini btn-warning" })
                @Html.ActionLink("Remove", "Remove", "Products",new{id=product.Id}, new { @class = "btn btn-mini btn-danger" })
            </td>
        </tr>
    }
    <tfoot>
        <td></td>
        <td></td>
        <td>Total: @Model.product.Sum(x=>x.Price)</td>
    </tfoot>
</table>
<div>
    @if (Model.NumberOfElements > 0)
    {
        if (Model.Page > 0 && Model.Page != 1)
        {
            @Html.ActionLink("Previous", "Index", new { numberOfElements = Model.NumberOfElements, page = Model.Page - 1 })
        }
        if (Model.Page > 0 && Model.Page != Model.PageAll - 1)
        {
            @Html.ActionLink("Next", "Index", new { numberOfElements = Model.NumberOfElements, page = Model.Page + 1 })
        }
    }
</div>
<br>
    @Html.TextBox("SetPage","Enter Page",new{id="textboxid1"})
    @Html.ActionLink("Refresh","Index", new{id ="actionid1"})
    @Html.TextBox("SetNumber", "Enter number of elements", new { id = "textboxid2" })
    @Html.ActionLink("Refresh", "Index", new { id = "actionid2" })
</br>

